{% extends '_layout' %}
{% block main %}
    {# <section id="about">
        <article>
            {% set introduction = craft.entries.section('introduction').first() %}
            <h1>{{ introduction.title }}<br><span>{{ introduction.subtitleIntro }}</span></h1>
            <p>
                {{ introduction.description }}
            </p>
        </article>
    </section> #}
    {# <section class="blog" id="blog">
        <h1>News</h1>
        <main>
        {% for entry in craft.entries.section('news').limit(3).all() %}
            <div class="card">
                <h3>{{ entry.title }}</h3>
                {{ entry.newsBody }}
                <button>READ MORE</button>
            </div>
        {% endfor %}
        </main>
    </section> #}
    <section class="blog" id="games">
        <span>
            <h1>OUR LATEST GAMES</h1>
        </span>
        <main>
            {% for entry in craft.entries.section('games').all() %}
                <a href="/games/{{ entry.slug }}">
                    <div class="card">
                        {% set headerImage = entry.gameLogoScreenshot.first() %}
                        {% if headerImage %}
                            <div class="boxshot">
                                <img src="../web/uploads/images/games/{{ headerImage.filename }}">
                                <h3>{{ entry.title }}</h3>
                            </div>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </main>
    </section>
    {# <section class="social" id="social">
        <main>
            <h1>Follow Fireroot Studios</h1>
            <ul>
                <li><a target="_blank" href="https://twitter.com/FirerootStudios"></a></li>
                <li><a target="_blank" href="https://www.facebook.com/FirerootStudios/"></a></li>
                <li><a target="_blank" href="https://www.instagram.com/firerootstudios/"></a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCfRy5jzOlRIor3Tezdq71Bw"></a></li>
            </ul>
        </main>
    </section> #}
    <section class="community" id="community">
        <span>
            <h1>COMMUNITY</h1>
        </span>
        <main>
            <div class="item item-1">
                <h3>Title</h3>
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus leo. 
                    In dictum fringilla ex at porttitor. Curabitur lacus nibh, lacinia nec leo et, rutrum mattis enim...
                </h5>
                <button>READ MORE</button>
            </div>
            <div class="item item-2">
                {% for entry in craft.entries.section('socials').all() %}
                    <a href="{{entry.socialLink}}" target="_blank">{{ entry.socialIcon.iconSpan|raw }}</a>
                {% endfor %}
            </div>
            <div class="item item-3">
                <h3>Title</h3>
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet purus leo. 
                    In dictum fringilla ex at porttitor. Curabitur lacus nibh, lacinia nec leo et, rutrum mattis enim...
                </h5>
                <button>READ MORE</button>
            </div>
        </main>
    </section>
{% endblock %}